/** {
  border: 1px solid black;
}*/

.player1,
#zero,
.winner,
.name,
button[name=button],
input[name=roller] {
  display: none;
}

#zero {
  color: red;
}

.userTotal {
  color: green;
}

img {
  width: 100%;
}

#title-image {
  width: 60%;
}

.jumbotron {
  text-align: center;
}
